---
import '@/styles/globals.css'
import { App } from "../../components/App";
import SPALayout from "../../layouts/SPALayout.astro";
import { supabase } from "@/lib/supabase";

const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
    return Astro.redirect("/api/signin");
}

let session;
try {
    session = await supabase.auth.setSession({
        refresh_token: refreshToken.value,
        access_token: accessToken.value,
    });
    if (session.error) {
        Astro.cookies.delete("sb-access-token", {
            path: "/",
        });
        Astro.cookies.delete("sb-refresh-token", {
            path: "/",
        });
        return Astro.redirect("/api/signin");
    }
} catch (error) {
    Astro.cookies.delete("sb-access-token", {
        path: "/",
    });
    Astro.cookies.delete("sb-refresh-token", {
        path: "/",
    });
    return Astro.redirect("/api/signin");
}

const email = session.data.user?.email;
---

<SPALayout title="SPA Page">
    <form action="/api/auth/signout">
        <button type="submit">Sign out</button>
    </form>    
    <App client:only="react" />
</SPALayout>